/* || General setup */
body {
  padding: 0px;
  margin: 0 auto;
  background-color: #ff5436;
  font-family: "Roboto", sans-serif;
}

/* || typography */

h1 {
  font-family: "Sansita Swashed", cursive;
  color: #2a2a2a;
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #2a2a2a;
  font-size: 2rem;
  text-align: left;
  font-weight: 400;
}

.list-title {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

/* || header layout */

.header {
  background-color: #b3000f;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  margin-right: 15px;
  max-width: 200px;
}


.left p {
  background: #1cff9e;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
}

.img {
  width: inherit;
  border-style: solid;
  border-color: ivory;
  border-width: 1px;
  border-radius: 4px;
  max-width: 180px;
}

.bottom {
  background: #00b366;
  padding: 15px;
  border-color: #cccccc;
}




.left  {
  flex: 0 1 auto;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 15px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


@media screen and (max-width: 1000px) {
  .container {
    justify-content: center;
  }
}